* {
  box-sizing: border-box;
}
body {
  text-align: center;
}
.App {
  margin: 0 auto;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-bottom: none;
  border-top: none;
}
.input-contaner {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 20px;
}
.input-contaner button {
  padding: 5px 10px;
}
.options-btns {
  color: gray;
}
.options-btns span {
  margin-right: 10px;
}
.name {
  width: 300px;
}
@media only screen and (max-width: 800px) {
  .name {
    width: unset;
  }
  .App {
    margin-top: 0px;
  }
  .jz {
    display: none;
  }
  .item>div {
    text-align: left;
  }
  .item-row {
    display: flex;
    align-items: center;
  }
  .options-btns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .options-btns span {
    margin-right: 0px;
  }
}